<div class="login flex justify-center h-screen">

  <form
    class="w-1/3 border p-4 rounded m-auto"
    #myForm="ngForm"
    (ngSubmit)="submit()"
    >
    <h1 class="text-xl text-center">Register</h1>
    <div class="my-5">
      <label for="email">Email:</label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Email Address"
        class="p-2 border rounded w-full"
        [(ngModel)]="form.email"
        #emailModel="ngModel" required>
        <div *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)" class="p-2 bg-red-300 text-red-800 rounded mt-2">Email field must be valid!</div>
    </div>

    <div class="my-5">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        class="p-2 border rounded w-full"
        [(ngModel)]="form.password"
        #passwordModel="ngModel" required
        >
        <div *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)" class="p-2 bg-red-300 text-red-800 rounded mt-2">Password field must be valid!</div>
    </div>

    <div class="my-5">
      <label for="passwordConfirm">Confirm password:</label>
      <input
        type="password"
        id="passwordConfirm"
        name="passwordConfirm"
        placeholder="Password confirm"
        class="p-2 border rounded w-full"
        [(ngModel)]="form.passwordConfirm"
        #passwordConfirmModel="ngModel" required
        >
      <div *ngIf="passwordConfirmModel.invalid && (passwordConfirmModel.dirty || passwordConfirmModel.touched)" class="p-2 bg-red-300 text-red-800 rounded mt-2">Password confirm field must be valid!</div>
    </div>

    <div class="my-5 w-full">
      <button
        [disabled]="myForm.form.invalid"
        type="submit"
        class="p-2 w-full text-white bg-amber-500 hover:bg-amber-600">
        <span *ngIf="!isLoading()">Submit</span>
        <div *ngIf="isLoading()">
          Loading...
        </div>
      </button>
    </div>
  </form>
</div>
