<nav class="flex bg-purple-900 justify-between p-4 text-white">
  <div>
    <a class="mx-4" routerLink="">Books shop</a>
  </div>
  <div class="nav-right flex">
    <div>
      <a class="mx-4" routerLink="/cart">My cart</a>
    </div>
    <ng-container *ngIf="!isAuthenticated()">
      <div>
        <a class="mx-4" routerLink="/login">Log In</a>
      </div>
      <div>
        <a class="mx-4" routerLink="/register">Register</a>
      </div>
    </ng-container>
    <div *ngIf="isAuthenticated()">
      <button class="mx-4" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
<div class="p-8">
  <router-outlet></router-outlet>
</div>
